
.work{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    padding: 10px;
    left: 15px;
    right: 15px;
    column-width: 15px;
   
}
.work1{
    background-color: white;
    max-width: 300px;
    border-right: solid;
    padding: 10px;
    align-items: flex-start;
    margin: 10px; 
    align-items: center; 
    padding: 10px;
    
    

}
.work2{
    flex-wrap: wrap;
    max-width: 350px;
    align-items: flex-end;
    margin: 10px;
    height: fit-content;
    padding: 10px;
    background-color: white;
}
.team{
    
    flex-wrap: wrap;
    max-width: 350px;
    height: fit-content;
    justify-content: center;
    margin-top: 15px;
    background-color: white;
    padding: 15px;
    margin: 10px; 
    left: 10px; 
}
.team p{
    padding: 10px;
    align-items: center;
}
 figure{
    flex-wrap:wrap ;
    margin: 10px;
    padding: 10px;
 }
table{
    
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    border-collapse: collapse;
    max-width: 100%;
    height: fit-content;
    border-bottom: red;
    border-style: solid;

}

table tr th, td{
    border-style: solid;
    border-color: rgb(182, 143, 143);
    align-items: center;
    color: whitesmoke;
    padding: 5px;
    
}
tr{
    background-color: grey;
    width: 100%;
    
}
table tr{
    align-items: center;
    height: fit-content;
    justify-content: center;
    word-wrap: break-word;
    margin: 5px;
    
}

  